.tree {
  --spacing: 2rem;
  --radius: 10px;
  --listitemcolor: #ccc;  
  --expandcolor: #295376;  
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

[role="treeitem"] ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

[role="treeitem"] li {
  line-height: 1em !important;
  border-left: 2px solid var(--listitemcolor);
}

ul[role="tree"] li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

[role="treeitem"] li a {
  display: block;
  padding-bottom: 0.5em;
}

[role="treeitem"] li a {
  padding-left: .35em !important;
}

[role="treeitem"] li:last-child {
  border-color: transparent;
}

[role="treeitem"] li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: 2px solid var(--listitemcolor);
  border-width: 0 0 2px 2px;
}

[role="treeitem"] span {
  display: block;
  cursor: pointer;
}

[role="treeitem"] span:focus {
  outline: none;
}

[role="treeitem"] span:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after, .tree span::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: var(--listitemcolor);
}

/* Base style: Shows the plus sign (left half of the SVG) */
[role="treeitem"] span::before {
  z-index: 1;
  background: var(--expandcolor) url('/cra-portal/source/media/expand-collapse.svg') 0 0;
}

/* Expanded style: Shifts background left to show the minus sign (right half) */
[role="treeitem"][aria-expanded="true"] span::before {
  background-position: 20px;
}

[role="treeitem"][aria-expanded="false"] span::before {
  background-position: 0px;
}

/* CSS to overwrite default WET CSS */ 
/* Revert the forced list-item display back to standard span behavior */
[role="treeitem"] span {
  line-height: 1.2em;
  display: block !important; /* Matches the specificity and restores standard behavior */
}

[role="treeitem"] > span::before {
  background-position: calc(-2 * var(--radius)) 0;
}

[role="treeitem"][aria-expanded="false"] + [role="group"] {
  display: none;
}

[role="treeitem"][aria-expanded="true"] + [role="group"] {
  display: block;
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

.tree li.hover, .tree li span:hover {
  background-color: #eaebed;
}