---
layout: application
applicationName: "Canada Revenue Agency"
applicationURL: "https://www.canada.ca/en/revenue-agency.html"
title: "Page title"
description: ""
subject: ""
altLangPage: "#"
dateModified: YYYY-MM-DD
dateIssued: YYYY-MM-DD
contextualFooter:
  title: " "
  links:
   - text: "About My Business Account"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/about-business-account.html"
   - text: "Terms and conditions for My Business Account"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/business-account-terms-conditions.html"
   - text: "My Business Account help desk"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/contact-us.html"
   - text: "Your suggestions"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/suggestions-business-account.html"
   - text: "Contact us"
     url: "https://www.canada.ca/en/revenue-agency/corporate/contact-information.html"
feedback: false
css:
  - https://cra-test-arc.canada.ca/cra-portal/templates/css/theme.css
  - https://cra-test-arc.canada.ca/cra-portal/templates/css/myba.css
  - https://cra-test-arc.canada.ca/cra-portal/templates/css/testing-banner.css
  - https://cra-test-arc.canada.ca/cra-portal/templates/css/apps.css
  - https://cra-test-arc.canada.ca/cra-portal/templates/css/custom.css
  - https://use.fontawesome.com/releases/v5.15.4/css/all.css
---

<div class="col-md-9 col-md-push-3 mrgn-tp-lg">
    <!--<h1>Application page title</h1>-->
    <p>page content</p>
</div>


<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="wb-sec col-md-3 col-md-pull-9">
    <h2>Section menu</h2>
    <ul class="list-group menu list-unstyled">
        <li>
            <h3 class="wb-navcurr"><a href="#">Header 1</a></h3>
            <ul class="list-group menu list-unstyled">
                <li><a class="list-group-item" href="#">Item 1</a></li>
                <li><a class="list-group-item" href="#">Item 2</a></li>
            </ul>
        </li>
    </ul>
    <ul class="list-group menu list-unstyled mrgn-tp-lg">
        <li>
            <h3 class="wb-navcurr">Header 2</h3>
            <ul class="list-group menu list-unstyled">
                <li><a class="list-group-item" href="#">Item 3</a></li>
                <li><a class="list-group-item" href="#">Item 4</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="clearfix"></div>
